<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 visible-lg">
                <div class="row">
                    <div class="col-lg-3">
                        <h4>О сервисе</h4>
                        <ul class="list">
                            <li>
                                <a href="https://prosto.insure/team">Команда</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/press">Прессе</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/partners">Партнерам</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/investors">Инвесторам</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h4>Вопросы</h4>
                        <ul class="list">
                            <li>
                                <a href="https://prosto.insure/payment">Оплата</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/policy">Электронный полис</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/prostocheck">Проверить Prosto.Insure</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/details">Реквизиты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h4>Страхование</h4>
                        <ul class="list">
                            <li>
                                <a href="https://osago.prosto.insure/">ОСАГО</a>
                            </li>
                            <li>
                                <a href="https://casco.prosto.insure/">КАСКО</a>
                            </li>
                            <li>
                                <a href="https://travel.prosto.insure/">Выезд за границу</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/greencard">Зелёная карта</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/med">ДМС</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/accident">Несчастный случай</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h4>Прочее</h4>
                        <ul class="list">
                            <li>
                                <a href="https://prosto.insure/corporate">Страхование юрлиц</a>
                            </li>
                            <li>
                                <a href="https://prosto.insure/kbm">КБМ осаго онлайн</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0">
                <h4 class="sr-only">Контакты</h4>
                <div class="row contacts">
                    <div class="col-xs-12 col-sm-6 col-lg-12">
                        <p class="contact-email">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <span class="sr-only">Электроная почта:</span>
                            <span class="show"><a href="mailto:hello@prosto.insure" class="email">hello@prosto.insure</a></span>
                            <span class="show">быстрый и надёжный способ связи</span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-12">
                        <p class="contact-phone">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            <span class="sr-only">Телефон:</span>
                            <span class="show"><a href="tel:84993221422" class="phone">8 499 322-14-22</a></span>
                            <span class="show"><a href="#" ng-click="showBackCallWindow('footer')" class="callback" data-toggle="modal" data-target="#callbackModal"><span class="dotted">Обратный звонок</span><span class="fa fa-undo"></span></a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-about">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <h4 class="sr-only">О нас</h4>
                <p class="hidden-xs hidden-sm">Сервис сотрудничает с ведущими российскими и международными страховыми компаниями и предоставляет возможность оформления полисов осаго и страхования выезжающих за границу. Всё в онлайне: быстро, просто и безопасно.</p>
                <p>
                    Мы активно ведём наши аккаунты в социальных сетях:<br>
                    <a href="https://www.facebook.com/prosto.insure" class="facebook"><span class="fa fa-facebook"></span><span class="sr-only">facebook</span></a>
                    <a href="https://twitter.com/prostoinsure" class="twitter"><span class="fa fa-twitter"></span><span class="sr-only">twitter</span></a>
                </p>
            </div>
			<div class="col-xs-12 col-md-4 col-lg-4">
				<div class="row pi-contacts">
					<div class="col-xs-12 col-sm-12 col-lg-12">
						<p class="pi-contact-phone">
							За каждый оформленный полис на сайте Prosto.Insure вы получаете бонусы Много.ру
						</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-lg-12">
						<p class="pi-contact-email">
							<img src="static/images/mnogoru_logo.png">
						</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</footer>
